
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,h2,h3,h4 {
    color: rgb(140, 0, 0);
}

h1{
    font-size: 30px;
}

h2 {
    font-size: 25px;
}


main {
    display: flex;
    flex-direction: column;
    width: 95vw;

    min-height: 95vh;
    padding: 10px;

}

.section-content-container {
    column-gap: 50px;
    text-align: justify;
    padding: 20px;
}

.section-title, .section-title, .subsection-title {
    margin: 0;
    margin-bottom: 10px;
}

.bold-paragraph {
    text-indent: 1.5em;
}

.subsection-uderscore {
    outline: none;
    border: 2px solid rgb(207, 188, 130);
}

.section-content-container p {
    font-size: 13px;
}






@media (min-width: 500px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,h2,h3,h4 {
    color: rgb(140, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    width: 500px;
    min-height: 95vh;
    padding: 10px;

}

.section-content-container {
    column-count: 1;
    column-gap: 50px;
    text-align: justify;
    padding: 20px;
}

.section-title, .section-title, .subsection-title {
    margin: 0;
    margin-bottom: 10px;
}

.bold-paragraph {
    text-indent: 1.5em;
}

.subsection-uderscore {
    outline: none;
    border: 2px solid rgb(207, 188, 130);
}

.section-content-container p {
    font-size: 16px;
}
}




@media (min-width: 900px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1,h2,h3,h4 {
    color: rgb(140, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 900px;
    min-height: 95vh;
    padding: 10px;

}

.section-content-container {
    column-count: 2;
    column-gap: 50px;
    text-align: justify;
    padding: 20px;
}

.section-title, .section-title, .subsection-title {
    margin: 0;
    margin-bottom: 10px;
}

.bold-paragraph {
    text-indent: 1.5em;
}

.subsection-uderscore {
    outline: none;
    border: 2px solid rgb(207, 188, 130);
}

.section-content-container p {
    font-size: 16px;
}
}
