body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#header {
    position: absolute;
    z-index: 3;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    padding-right: 10px;
}

.logo-label {
    margin: 0;
    font-size: 30px;
    display: none;
}

.lang-area {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    background-color: red;
    background-image: url("/img/dragon-login.png");
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(99, 99, 99, 0.1);
    backdrop-filter: blur(6px);

}

.login-area {
    position: absolute;
    background-color: white;
    width: auto;
    min-width: 350px;
    height: 500px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.sign-label {
    user-select: none;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 15px;
}

.user-input {
    flex: 1;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 15px;
}

.user-input:focus {
    outline: none;
    
}

.user-input-area {
    width: 310px;    
    display: flex;
    justify-content: center;
    
}

.log-btn-area {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    width: 310px; 
    margin-bottom: 15px;
}

.log-btn {
    background-color: white;
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    font-size: 20px;
    flex: 1;
    cursor: pointer;
}

.google-img {
    width: 20px;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

a {
    color: black;
}

.line {
    margin-bottom: 15px;
    margin-top: 0;
    width: 310px; 
    color: black;
    height: 1px;
    background-color: black;
    border: 0;
}











@media (min-width: 500px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#header {
    position: absolute;
    z-index: 3;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    padding-right: 10px;
}

.logo-label {
    margin: 0;
    font-size: 30px;
    display: block;
}

.lang-area {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    background-color: red;
    background-image: url("/img/dragon-login.png");
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(99, 99, 99, 0.1);
    backdrop-filter: blur(6px);

}

.login-area {
    position: absolute;
    background-color: white;
    width: auto;
    height: 500px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 30px;
}

.sign-label {
    user-select: none;
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 15px;
}

.user-input {
    flex: 1;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 15px;
}

.user-input:focus {
    outline: none;
    
}

.user-input-area {
    width: 320px;   
    display: flex;
    justify-content: center;
    
}

.log-btn-area {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    width: 320px; 
    margin-bottom: 15px;
}

.log-btn {
    background-color: white;
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    font-size: 20px;
    flex: 1;
    cursor: pointer;
}

.google-img {
    width: 20px;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

a {
    color: black;
}

.line {
    margin-bottom: 15px;
    margin-top: 0;
    width: 320px; 
    color: black;
    height: 1px;
    background-color: black;
    border: 0;
}
}








@media (min-width: 900px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#header {
    position: absolute;
    z-index: 3;
    width: 100vw;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    padding-right: 10px;
}

.logo-label {
    margin: 0;
    font-size: 30px;
    display: block;
}

.lang-area {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.bg-img {
    width: 100vw;
    height: 100vh;
    background-color: red;
    background-image: url("/img/dragon-login.png");
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(99, 99, 99, 0.1);
    backdrop-filter: blur(6px);

}

.login-area {
    position: absolute;
    background-color: white;
    width: auto;
    height: 500px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0 30px;
}

.sign-label {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 15px;
    user-select: none;
}

.user-input {
    flex: 1;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 5px;
    font-size: 15px;
}

.user-input:focus {
    outline: none;
    
}

.user-input-area {
    width: 320px;   
    display: flex;
    justify-content: center;
    
}

.log-btn-area {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    width: 320px;
    margin-bottom: 15px;
}

.log-btn {
    background-color: white;
    border: 1px solid black;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    font-size: 20px;
    flex: 1;
    cursor: pointer;
}

.google-img {
    width: 20px;
}

.labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0;
}

a {
    color: black;
}

.line {
    margin-bottom: 15px;
    margin-top: 0;
    width: 320px;
    color: black;
    height: 1px;
    background-color: black;
    border: 0;
}
}