
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img {
    position: relative;
    height: 95vh;
    width: 100vw;
    /* min-width: 500px; */
    background-image: url("/img/main_back.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(131, 142, 146, 0.5);
    backdrop-filter: blur(5px);
}

.welcome-sign{
    z-index: 3;
    position: absolute;
    display: flex;
    font-size: 4vw;
    text-align: center;
}

.red-font{
    color: rgb(208, 30, 33)
}

.cards-area {
    width: 90vw;
    display: grid;
    grid-template-rows:  1fr 1fr 1fr;
    align-items: center;
    grid-gap: 30px;
    margin: 50px 50px;
}

.card {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.card-logo {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-img {
    height: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text p {
    font-size: 15px;
    margin: 0;
    margin-bottom: 20px;
}

.card-text h2 {
    font-size: 20px;
}











@media (min-width: 500px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img {
    position: relative;
    height: 95vh;
    width: 100vw;
    /* min-width: 500px; */
    background-image: url("/img/main_back.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(131, 142, 146, 0.5);
    backdrop-filter: blur(5px);
}

.welcome-sign{
    z-index: 3;
    position: absolute;
    display: flex;
    font-size: 4vw;
    text-align: center;
}

.red-font{
    color: rgb(208, 30, 33)
}

.cards-area {
    width: 95vw;
    min-width: 500px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    grid-gap: 10px;
    margin: 50px 0;
}

.card {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.card-logo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-img {
    height: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text p {
    font-size: 15px;
}

.card-text h2 {
    font-size: 20px;
}

}












@media (min-width: 900px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img {
    position: relative;
    height: 95vh;
    width: 100vw;
    /* min-width: 900px; */
    background-image: url("/img/main_back.png");
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(131, 142, 146, 0.5);
    backdrop-filter: blur(5px);
}

.welcome-sign{
    z-index: 3;
    position: absolute;
    display: flex;
    font-size: 3vw;
    text-align: center;
}

.red-font{
    color: rgb(208, 30, 33)
}

.cards-area {
    /* background-color: blue; */
    /* height: 700px; */
    width: 50vw;
    min-width: 900px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    align-items: center;
    grid-gap: 50px;
    margin: 50px 0;
}

.card {
    background-color: rgb(255, 255, 255);
    height: 100%;
    /* width: 270px; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.card-logo {
    aspect-ratio: 1/1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card-img {
    aspect-ratio: 1/1;
    height: 100%;
}

.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text p {
    font-size: 20px;
    margin: 0 0 20px 0;
}
}