body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#main {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-label-area {
    width: 95vw;

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-label {
    font-size: 40px;
}

.char-grid {
    width: 95vw;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 20px;
}

.char-box {
    height: 220px;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;    
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.char-box:hover {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.char-img-area {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin: 15px;
    border: 2px solid black;

}

.new {
    background: url("/img/plus.png") center center no-repeat;
    background-size: 50%;
}

.char-disc-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.name {
    margin: 0;
    font-size: 18px;
}

.race {
    margin: 0;
    font-weight: 500;
}










@media screen and (min-width: 500px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#main {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-label-area {
    width: 95vw;
    min-width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-label {
    font-size: 40px;
}

.char-grid {
    width: 95vw;
    min-width: 500px;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 20px;
}

.char-box {
    height: 220px;
    min-width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;    
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.char-box:hover {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.char-img-area {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin: 15px;
    border: 2px solid black;

}

.new {
    background: url("/img/plus.png") center center no-repeat;
    background-size: 50%;
}

.char-disc-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.name {
    margin: 0;
    font-size: 18px;
}

.race {
    margin: 0;
    font-weight: 500;
}
}



















@media screen and (min-width: 900px) {
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

#main {
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-label-area {
    width: 50vw;
    min-width: 900px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-label {
    font-size: 40px;
}

.char-grid {
    width: 50vw;
    min-width: 900px;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 50px;
}

.char-box {
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;    
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.15s;
    cursor: pointer;
}

.char-box:hover {
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.char-img-area {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    margin: 15px;
    border: 2px solid black;

}

.new {
    background: url("/img/plus.png") center center no-repeat;
    background-size: 50%;
}

.char-disc-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.name {
    margin: 0;
    font-size: 18px;
}

.race {
    margin: 0;
    font-weight: 500;
}
}