#footer{
    background-color: rgb(98, 124, 128);
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-width: 900px;
}

.footer-text-box {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-content h3 {
    font-size: 15px;
}
    
.footer-logo {
    width: 20px;
    aspect-ratio: 1/1;
    margin: 0;
    margin-right: 5px;
}



.footer-section-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 18px;
}

.footer-line {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 5px;
}

.footer-line p{
    margin: 0;
}

.copyrigt {
    font-size: 10px;
}







@media screen and (min-width: 500px) {
#footer{
    background-color: rgb(98, 124, 128);
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-width: 500px;
}

.footer-text-box {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-content h3 {
    font-size: 15px;
}
    
.footer-logo {
    width: 20px;
    aspect-ratio: 1/1;
    margin: 0;
    margin-right: 5px;
}



.footer-section-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 18px;
}

.footer-line {
    display: flex;
    font-size: 15px;
}

.footer-line p{
    margin: 0;
}

.copyrigt {
    font-size: 15px;
}
}









@media screen and (min-width: 900px) {
#footer{
    background-color: rgb(98, 124, 128);
    /* height: 10vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-width: 900px;
}

.footer-text-box {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-content h3 {
    font-size: 20px;
}
    
.footer-logo {
    width: 20px;
    aspect-ratio: 1/1;
    margin: 0;
    margin-right: 5px;
}



.footer-section-content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 18px;
}

.footer-line {
    display: flex;
    font-size: 18px;
}

.footer-line p{
    margin: 0;
}

.copyrigt {
    font-size: 18px;
}
}